body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #865439;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #865439;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #c68b59;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #c68b59;
}

p {
  margin: auto;
  line-height: 2;
}

hr {
  border: dotted 7px;
  margin: 100px auto;
  width: 30%;
  color: lightgrey;
  border-bottom: none;
}

.top-container {
  background-color: #fcdec0;

  height: 100%;
  width: 100%;
  padding: 150px 0 0 0;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #fcdec0;
  padding: 40px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
}

.profile-pic {
  height: 200px;
  border-radius: 50%;
  margin-top: 2rem;
}

.intro {
  margin: auto;
  width: 40%;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-monitor {
  height: 200px;
  float: left;
  margin-right: 30px;
}

.skill-burger {
  height: 200px;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 45%;
  margin: 40px auto 60px;
}

.footer-link {
  margin: 60px 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #865439;
}

.mountain {
  max-width: 100%;
}

.btn {
  background: #c79569;
  background-image: -webkit-linear-gradient(top, #c79569, #875d46);
  background-image: -moz-linear-gradient(top, #c79569, #875d46);
  background-image: -ms-linear-gradient(top, #c79569, #875d46);
  background-image: -o-linear-gradient(top, #c79569, #875d46);
  background-image: linear-gradient(to bottom, #c79569, #875d46);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c68c59;
  background-image: -webkit-linear-gradient(top, #c68c59, #865439);
  background-image: -moz-linear-gradient(top, #c68c59, #865439);
  background-image: -ms-linear-gradient(top, #c68c59, #865439);
  background-image: -o-linear-gradient(top, #c68c59, #865439);
  background-image: linear-gradient(to bottom, #c68c59, #865439);
  text-decoration: none;
}

.copyright {
  color: #c68b59;
  margin-top: 30px;
  font-size: 0.75rem;
}
